@page "/userData"

<PageTitle>Weather forecast</PageTitle>

@using BlazorTest.Data
@using BlazorTest.Services

<h1>Unit</h1>

<p>This component demonstrates fetching data from a service.</p>

<TableComponent Users="@UserService.GetUnit()"></TableComponent>


@code {
}
